{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}About{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="page-header">
          <h1>{% blocktrans %}About{% endblocktrans %}</h1>
        </div>
        <p>{% blocktrans %}GeoIP was created by{% endblocktrans %} <a href="http://jjkester.nl/">Jan-Jelle Kester</a> {% blocktrans %}as a piece of software to automate parts of his research into IP geolocation.{% endblocktrans %} {% blocktrans %}Since creating a web application was the fastest way to go, it would not take a lot of effort to expose the results to the public on a web site with the platform as a back end. The platform allows for repeated measurements, so the data collection and analysis can continue while the original research is completed. The research paper can be found below.{% endblocktrans %}</p>
        <hr>
        <h2>{% blocktrans %}Research paper{% endblocktrans %}</h2>
        <p>{% blocktrans %}The research has been carried by Jan-Jelle Kester as bachelor thesis for his Computer Science degree at the University of Twente, The Netherlands.{% endblocktrans %}</p>
        <div class="well well-lg">
          <h2><em>Comparing the accuracy of IPv4 and IPv6 geolocation databases</em></h2>
          <h3>Motivation</h3>
          <p>IP geolocation databases contain information about the physical location of a computer system given its IP address. These databases are widely used for multiple purposes, ranging from location-aware advertising and web site analytics to intelligent routing and cyber crime research.</p>
          <p>The IPv6 protocol specification<sup><a href="https://www.ietf.org/rfc/rfc2460.txt" target="_blank"><i class="glyphicon glyphicon-link"></i></a></sup> was published in 1998. Now the need for IPv6 is apparent due to the fact that all IPv4 address blocks have been allocated by IANA. Therefore the large scale deployment of this protocol to end users is finally taking off after 15 years. But this rollout is not without obstacles. For example, systems only supporting IPv4 cannot connect to IPv6-only systems, and vice versa. Inherently, IPv4 and IPv6 will co-exist on many devices.</p>
          <p>Because of the slow rollout of IPv6 many internet services were primarily focused on IPv4, including geolocation databases. However, IPv6 usage is on the rise. As of summer 2015, more than 8% of all Google users uses IPv6, while this was around 1% two years earlier<sup><a href="http://www.google.com/intl/nl/ipv6/statistics.html" target="_blank"><i class="glyphicon glyphicon-link"></i></a></sup>. This number will only grow the upcoming years. These numbers emphasize the need for IPv6 geolocation.</p>
          <h3>Research questions</h3>
          <p>The paper provides answers for the following research questions:</p>
          <ul>
            <li>What geolocation databases are available?</li>
            <li>What are major differences between IPv4 and IPv6 from a geolocation standpoint?</li>
            <li>What is the accuracy difference of geolocation databases between IPv4 and IPv6?</li>
          </ul>
        </div>
        <a href="#" class="btn btn-default btn-block disabled">
          <i class="glyphicon glyphicon-paperclip"></i>
          {% blocktrans %}Download paper{% endblocktrans %}
        </a>
      </div>
    </div>
  </div>
{% endblock %}
