{% extends 'base.html' %}
{% load i18n %}
{% block jumbotron %}
  <div class="container">
    <h1><small>{% blocktrans %}Insight into{% endblocktrans %}</small><br>{% blocktrans %}IP geolocation database accuracy{% endblocktrans %}</h1>
    <hr>
    <p>{% blocktrans %}Measuring IP geolocation database accuracy using real-world testing data from accredited sources{% endblocktrans %}</p>
  </div>
{% endblock %}
{% block content %}
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary text-center">
          <div class="panel-body">
            <p class="h2">{{ statistics.node_count }}</p>
          </div>
          <div class="panel-footer">{% blocktrans %}Test nodes{% endblocktrans %}</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary text-center">
          <div class="panel-body">
            <p class="h2">{{ statistics.dataset_count }}</p>
          </div>
          <div class="panel-footer">{% blocktrans %}Historical measurements{% endblocktrans %}</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary text-center">
          <div class="panel-body">
            <p class="h2">{{ statistics.best_score|floatformat|default:'0' }}%</p>
          </div>
          <div class="panel-footer">{% blocktrans %}Best score{% endblocktrans %}</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary text-center">
          <div class="panel-body">
            <p class="h2">{{ statistics.last_measurement.created|timesince|default:'&mdash;' }}</p>
          </div>
          <div class="panel-footer">{% blocktrans %}Last measurement{% endblocktrans %}</div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container text-center">
    <h1>{% blocktrans %}Created for scientific research{% endblocktrans %}</h1>
    <p class="lead text-muted">{% blocktrans %}This platform was originally created as a platform for automating a research project.{% endblocktrans %}</p>
    <p><a href="{% url 'about' %}" class="btn btn-success">{% trans "Read more" %}</a></p>
  </div>
{% endblock %}
