{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}Legal{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="page-header">
          <h1>{% blocktrans %}Legal{% endblocktrans %}</h1>
        </div>
        {# TODO Add license #}
        <hr>
        <h3>Third party databases</h3>
        <dl>
          {% for database in databases %}
            <dt>{{ database.name }}</dt>
            <dd>{{ database.notes|safe }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
{% endblock %}
