<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GeoIP - Not Found</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body style="margin-top: 60px;">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <strong>Geo</strong><em>IP</em>
      </a>
    </div>
  </div>
</nav>

<header class="jumbotron">
  <div class="container text-center">
    <h1>
      <small>HTTP 404</small><br>
      Not found
    </h1>
    <p>The requested page or document was not found on this server.</p>
  </div>
</header>


  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Frequently asked questions</h2>
        <h4>Why do I see this page?</h4>
        <p>The link you followed or the address you typed in does not point to an active page or document. If you clicked a link on the GeoIP website, please let us know using the contact information below.</p>
        <hr>
        <h2>Contact information</h2>
        <p>Questions regarding GeoIP can be directed to <a href="mailto:j.j.kester@student.utwente.nl">j.j.kester@student.utwente.nl</a>.</p>
      </div>
    </div>
  </div>


<footer class="text-center">
  <hr>
  <div class="container">
    <ul class="list-inline small">
      <li><strong>Geo</strong><em>IP</em></li>
      <li>Copyright &copy; 2015 Jan-Jelle Kester.</li>
    </ul>
  </div>
</footer>

</body>
</html>