{% load i18n %}
{% if page_obj.has_other_pages %}
  <nav class="text-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="{% url request.resolver_match.view_name page=page_obj.previous_page_number %}"><i class="glyphicon glyphicon-menu-left"></i></a></li>
      {% else %}
        <li class="disabled"><a href=""><i class="glyphicon glyphicon-menu-left"></i></a></li>
      {% endif %}
      {% for page_number in page_obj.paginator.page_range %}
        <li{% if page_number == page_obj.number %} class="active"{% endif %}><a href="{% url request.resolver_match.view_name page=page_number %}">{{ page_number }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="{% url request.resolver_match.view_name page=page_obj.next_page_number %}"><i class="glyphicon glyphicon-menu-right"></i></a></li>
      {% else %}
        <li class="disabled"><a href=""><i class="glyphicon glyphicon-menu-right"></i></a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}