{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}{% blocktrans %}List of nodes{% endblocktrans %}{% endblock %}
{% block content %}
  <section class="container">
    <nav class="toolbar">
      <div class="btn-group">
        <a href="{% url 'nodes:index' %}" class="btn btn-default"><i class="glyphicon glyphicon-menu-left"></i> {% trans "Back to overview" %}</a>
      </div>
      {% if user.is_staff %}
        <div class="btn-group">
          <button class="btn btn-warning disabled"><i class="glyphicon glyphicon-flash"></i> {% trans "Admin" %}</button>
          <a href="{% url 'admin:nodes_node_changelist' %}" class="btn btn-warning"><i class="glyphicon glyphicon-list"></i> {% trans "All" %} {% trans "nodes" %}</a>
          <a href="{% url 'admin:nodes_node_add' %}" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i> {% trans "Add" %} {% trans "node" %}</a>
        </div>
      {% endif %}
    </nav>

    <header class="page-header">
      <h1>
        {% trans "List of nodes" %}
      </h1>
    </header>

    <table class="table well">
      <tbody>
        <tr>
          <th class="col-sm-6 col-md-4 col-lg-3">{% trans "Total number of nodes" %}</th>
          <td>{{ all_nodes.count }}</td>
        </tr>
        <tr>
          <th>{% trans "Number of usable nodes" %}</th>
          <td>{{ all_nodes.usable.count }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{% trans "IP addresses" %}</th>
          <th>{% trans "Source" %}</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
      {% for node in nodes %}
        <tr>
          <td>{{ node.name }}</td>
          <td>
            <small>{% trans "IPv4" %}:</small> {{ node.ipv4|default:'&mdash;' }}<br>
            <small>{% trans "IPv6" %}:</small> {{ node.ipv6|default:'&mdash;' }}
          </td>
          <td>
            <a href="{{ node.source.url }}">{{ node.source.name }}</a>
          </td>
          <td class="text-right" style="vertical-align: middle;">
            <a href="{% url 'nodes:node_detail' hashid=node.hashid %}" class="btn btn-default btn-sm">{% trans "Details" %}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% include 'elements/pagination.html' %}
  </section>
{% endblock %}