{% extends 'base.html' %}
{% load i18n %}
{% block page_title %}{% blocktrans %}Node {{ node }}{% endblocktrans %}{% endblock %}
{% block jumbotron %}
  <div id="map" style="height: 400px; margin: -48px 0;"></div>
  {% include 'elements/map.html' with point=node.location %}
{% endblock %}
{% block content %}
  <section class="container">
    <nav class="toolbar">
      <div class="btn-group">
        <a href="{% url 'nodes:node_list' %}" class="btn btn-default"><i class="glyphicon glyphicon-menu-left"></i> {% trans "Back to list" %}</a>
      </div>
      {% if user.is_staff %}
        <div class="btn-group">
          <button class="btn btn-warning disabled"><i class="glyphicon glyphicon-flash"></i> {% trans "Admin" %}</button>
          <a href="{% url 'admin:nodes_node_change' node.pk %}" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> {% trans "Edit" %} {% trans "node" %}</a>
          <a href="{% url 'admin:nodes_node_delete' node.pk %}" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %} {% trans "node" %}</a>
        </div>
      {% endif %}
    </nav>

    <header class="page-header">
      <h1>
        {% trans "Node" %}
        <small>{{ node }}</small>
      </h1>
    </header>

    <div class="row">
      <div class="col-xs-6 col-md-3">
        <h3>{% trans "Details" %}</h3>
        <dl>
          <dt>{% trans "ID" %}</dt>
          <dd>{{ node.hashid }}</dd>
          <dt>{% trans "Domain name" %}</dt>
          <dd>{{ node.dns_name|default:'&mdash;' }}</dd>
        </dl>
      </div>
      <div class="col-xs-6 col-md-3">
        <h3>{% trans "Location" %}</h3>
        <dl>
          <dt>{% trans "Latitude" %}</dt>
          <dd>{{ node.location.0 }}</dd>
          <dt>{% trans "Longitude" %}</dt>
          <dd>{{ node.location.1 }}</dd>
        </dl>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>{% trans "IP addresses" %}</h3>
        <dl>
          <dt>{% trans "IPv4 address" %}</dt>
          <dd>{{ node.ipv4|default:'&mdash;' }}</dd>
          <dt>{% trans "IPv6 address" %}</dt>
          <dd>{{ node.ipv6|default:'&mdash;' }}</dd>
        </dl>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>{% trans "Source" %}</h3>
        <dl>
          <dt>{{ node.source.name }}</dt>
          <dd>{{ node.source.url|urlize }}</dd>
        </dl>
      </div>
    </div>

    <hr>

    <h2>{% trans "Measurements" %}</h2>

    {% if measurements %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>{% trans "Data set" %}</th>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Database" %}</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            {% for measurement in measurements %}
              <tr>
                <td>{{ measurement.hashid }}</td>
                <td>{{ measurement.dataset.hashid }}</td>
                <td>{{ measurement.created|date:'Y-m-d H:i' }}</td>
                <td>{{ measurement.database.name }}</td>
                <td class="text-right">
                  <a href="{% url 'measurements:measurement_detail' hashid=measurement.hashid %}" class="btn btn-default btn-xs">{% trans "Details" %}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-info">
        <h4><i class="glyphicon glyphicon-info-sign"></i> {% blocktrans %}This node has not yet participated in any measurements{% endblocktrans %}</h4>
        <p>{% blocktrans %}This usually means that there has been no new measurement since the node was added. The IP addresses of the node will be tested in the upcoming measurements.{% endblocktrans %}</p>
      </div>
    {% endif %}
  </section>
{% endblock %}