{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GeoIP - {% block page_title %}{% blocktrans %}Insight into IP geolocation database accuracy{% endblocktrans %}{% endblock %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <style type="text/css">
    @media (min-width: 768px) {
      .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
      .navbar .navbar-collapse {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
  </style>
</head>
<body style="margin-top: 60px;">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'home' %}" class="navbar-brand">
        <strong>Geo</strong><em>IP</em>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li{% if request.resolver_match.namespaces|length_is:0 and request.resolver_match.url_name == 'home' %} class="active"{% endif %}>
          <a href="{% url 'home' %}">
            <i class="glyphicon glyphicon-home"></i>
            {% trans "Home" %}
          </a>
        </li>
        <li{% if request.resolver_match.namespaces.0 == 'databases' %} class="active"{% endif %}>
          <a href="{% url 'databases:database_list' %}">
            <i class="glyphicon glyphicon-hdd"></i>
            {% trans "Databases" %}
          </a>
        </li>
        <li{% if request.resolver_match.namespaces.0 == 'nodes' %} class="active"{% endif %}>
          <a href="{% url 'nodes:index' %}">
            <i class="glyphicon glyphicon-map-marker"></i>
            {% trans "Nodes" %}
          </a>
        </li>
        <li{% if request.resolver_match.namespaces.0 == 'measurements' %} class="active"{% endif %}>
          <a href="{% url 'measurements:dataset_list' %}">
            <i class="glyphicon glyphicon-stats"></i>
            {% trans "Measurements" %}
          </a>
        </li>
        <li{% if request.resolver_match.namespaces|length_is:0 and request.resolver_match.url_name == 'about' %} class="active"{% endif %}>
          <a href="{% url 'about' %}">
            <i class="glyphicon glyphicon-info-sign"></i>
            {% trans "About" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="jumbotron">
  {% block jumbotron %}{% endblock %}
</header>

{% block content %}{% endblock %}

<footer class="text-center">
  <hr>
  <div class="container">
    <ul class="list-inline small">
      <li><strong>Geo</strong><em>IP</em></li>
      <li>{% blocktrans %}Copyright &copy; 2015 Jan-Jelle Kester.{% endblocktrans %}</li>
      <li>&mdash;</li>
      <li><a href="{% url 'about' %}">{% trans "About GeoIP" %}</a></li>
      <li><a href="{% url 'legal' %}">{% trans "Legal information" %}</a></li>
    </ul>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45117526-4', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>